<main class="container">
    <h2>Usuários</h2>

    <a (click)="novo()" class="btn btn-primary">Novo</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Data Nascimento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umUsuario of listaUsuarios">
                <td>{{umUsuario.nome}}</td>
                <td>{{umUsuario.endereco}}</td>
                <td>{{umUsuario.telefone}}</td>
                <td>{{umUsuario.email}}</td>
                <td>{{umUsuario.dataNascimento}}</td>

                <td>
                    <a (click)="alterar(umUsuario)">
                        class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>
    </table>
</main>