<main class="container">
    <h2>Usuários</h2>

    <a (click)="novo()" class="btn btn-primary">Novo</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Data Nascimento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umUsuario of listaUsuarios">
                <td>{{umUsuario.nome}}</td>
                <td>{{umUsuario.cpf}}</td>
                <td>{{umUsuario.endereco}}</td>
                <td>{{umUsuario.telefone}}</td>
                <td>{{umUsuario.email}}</td>
                <td>{{umUsuario.dataNascimento | date:"dd/MM/yyyy"}}</td>

                <td>
                    <a (click)="alterar(umUsuario)"
                        class="btn btn-secondary">Alterar</a>
                        &nbsp;
                    <a (click)="abrirConfirmacao(umUsuario)" 
                    class="btn btn-danger">Excluir</a></td>
            </tr>
        </tbody>
    </table>
</main>
<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir usuario</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do usuario?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>